body{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/765582ae-ee02-4dc4-851a-d3dc540cdf79/d3vhq8i-9cf03b88-f5ea-411d-90a0-4d961cda585d.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc2NTU4MmFlLWVlMDItNGRjNC04NTFhLWQzZGM1NDBjZGY3OVwvZDN2aHE4aS05Y2YwM2I4OC1mNWVhLTQxMWQtOTBhMC00ZDk2MWNkYTU4NWQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.nsgmKbWknWB7smGvNqttD7Levv1BbjP9KqFztjiZpdA");
    background-size: cover;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    margin-bottom: 20px;
}

.photo {
    width: 400px;
    height: 350px;
    margin: 5px;
    border: solid black 5px;
    border-radius: 10px;
}

.container {
    margin: auto;
    padding: 10px;
    width: 1000px;
    border-radius: 10px;
    background-color: rgba(225, 199, 255, 0.95);
}

.menu {
    margin-top: 5px;
}

input {
    border: solid #1d0445 3px;
    border-radius: 10px;
    padding: 8px;
    font-size: 15px;
    background-color: #6610f2;
    color: white;
    transition: ease-in-out 0.1s;
}

input:hover {
    background-color: #9959ff;
}

input:active {
    background-color: #350d75;
}