body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    margin-bottom: 20px;
}

.photo {
    width: 400px;
    height: 350px;
    margin: 5px;
    border: solid black 5px;
}